body{
    background-image: url(natures-beauty-reflected-tranquil-mountain-waters-generative-ai.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
 
}